<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Мій блог</title>
</head>
<body>
<header>
    <div style="float: right;">
            <span th:if="${session.currentUser == null}">
                <a href="/register">Реєстрація</a> |
                <a href="/login">Вхід</a>
            </span>
        <span th:if="${session.currentUser != null}">
                Вітаю, <b th:text="${session.currentUser.username}">Користувач</b> |
                <a href="/add-post">Новий пост</a> |
                <a href="/logout">Вийти</a>
            </span>
    </div>
    <h1>Блог</h1>
</header>

<hr>

<div th:each="post : ${posts}">
    <h2 th:text="${post.title}">Заголовок</h2>
    <p th:text="${post.content}">Текст поста</p>
    <p><i>Автор: <span th:text="${post.author.username}">Автор</span></i></p>
    <hr>
</div>
</body>
</html>
