<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Новий пост</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h1 style="text-align: center; margin-bottom: 22px;">Створити пост</h1>

    <form method="post" action="/add-post">
        <label>Заголовок:</label><br>
        <input type="text" name="title" required><br><br>

        <label>Зміст:</label><br>
        <textarea name="content" required></textarea><br><br>

        <button type="submit">Опублікувати</button>
    </form>
</div>
</body>
</html>
